.event {
  padding: 100px 0;
}

.event h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.event__left {
  display: flex;
  flex-wrap: wrap;
  width: 66%;
  margin-right: 2%;
}

.event__right {
  width: 32%;
}

.event__box1 {
  width: 100%;
}

.event__box2,
.event__box3 {
  width: 50%;
}

@media screen and (max-width:768px) {
  .event {
    padding: 0 24px;
  }

  .event .container {
    padding: 24px;
    background: #fff;
  }

  .event h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }

  .event__left {
    width: 100%;
    margin-right: 0;
  }

  .event__right {
    display: none;
  }
}

@media screen and (max-width:600px) {
  .event {
    padding: 0 8px;
  }

  .event h2 {
    font-size: 18px;
  }
}