.information {
  padding-bottom: 100px;
}

.information__inner {
  display: flex;
  flex-wrap: wrap;
}

.information__item {
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-right: 2%;
}

.information__item:last-child {
  margin-right: 0;
}

.information__box {
  flex: 1;
  border: 1px solid #d7d7d7;
}

.information__item h3 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

/* notice */
.notice {
  display: flex;
  position: relative;
  padding: 17px;
  box-sizing: content-box;
}

.notice__item {
  margin-right: -1px;
}

.notice__item>a {
  display: block;
  width: 80px;
  padding: 10px 20px;
  border: 1px solid #dbdbdb;
  background-color: #f5f5f5;
  color: #666;
  font-size: 15px;
  text-align: center;
}

.notice__item.active>a {
  background: #fff;
}

.notice__sub {
  position: absolute;
  left: 17px;
  top: 70px;
  width: 90%;
}

.notice__sub li {
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid #dbdbdb;
  text-align: left;
}

.notice__sub li:last-child {
  border-bottom: none;
}

.notice__sub li strong {
  padding-right: 12px;
}

.notice__sub li em {
  color: #999;
  font-style: normal;
}

.notice__desc {
  color: #777;
  padding-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* benefits */
.benefits {
  padding: 17px;
}

.benefits__item {
  position: relative;
  min-height: 102px;
  margin-bottom: 17px;
  padding: 17px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
}

.benefits__item:last-child {
  margin-bottom: 0;
}

.benefits__item span {
  position: absolute;
  left: 17px;
  top: 17px;
}

.benefits__item img {
  width: 105px;
}

.benefits__item strong {
  display: block;
  padding-left: 120px;
  font-size: 18px;
  color: #777;
}

.benefits__item em {
  display: block;
  padding-left: 120px;
  font-size: 13px;
  font-style: normal;
  color: #777;
}

/* service */
.service {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.service__item {
  text-align: center;
  padding: 20px;
}

.service__item:nth-child(1) {
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.service__item:nth-child(2) {
  border-bottom: 1px solid #d7d7d7;
}

.service__item:nth-child(3) {
  border-right: 1px solid #d7d7d7;
}

.service__item strong {
  color: #666;
  font-size: 18px;
  font-weight: 500;
}

.service__icon {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  

  .information__item.item1 {
    width: 49%;
    margin-right: 2%;
  }

  .information__item.item2 {
    width: 49%;
    margin-right: 0;
  }

  .information__item.item3 {
    width: 100%;
    margin-top: 2%;
  }
}

@media (max-width: 768px) {
  .information {
    padding-bottom: 24px;
  }
  .information .container {
    padding: 0 24px;
  }

  .information__item.item1,
  .information__item.item2 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
    padding: 16px;
    background: #fff;
  }

  .information__item.item3 {
    width: 100%;
    background: #fff;
    padding: 16px;
    margin-top: 0;
  }

  .notice {
    height: 350px;
  }

  .information__item h3 {
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  .information {
    padding: 0 8px;
  }

  .information .container {
    padding: 0;
  }

  .information__item.item1,
  .information__item.item2,
  .information__item.item3 {
    margin-bottom: 8px;
  }
}