#opening {
  margin: 24px 0;
  background: url(../../img/bg01.jpg) no-repeat center top;
  background-size: cover;
}

.opening {
  padding: 100px 0;
  text-align: center;
  color: #bb9b51;
}

.opening__tit {
  width: 330px;
  height: 50px;
  
  margin: 0 auto;
  background-position: 0 -175px;
}

.opening__date {
  font-size: 28px;
}

.opening__desc {
  padding-bottom: 20px;
  background: url(../../img/bar.png) no-repeat bottom center;
  background-size: 100%;
  font-size: 35px;
  font-weight: 300;
}

.opening__cont {
  padding: 20px 3% 0 3%;
  overflow: hidden;
}

.opening__box {
  float: left;
  width: 27.333%;
  margin: 4% 3% 0 3%;
  border: 1px solid #3e4b44;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.opening__box h3 {
  display: inline-block;
  margin-top: -24px;
  padding: 10px 20px;
  background: #551e9b;
  border: 1px solid #6e3abb;
  font-weight: 300;
  font-size: 19px;
  color: #fff;
}

.opening__box p {
  font-size: 23px;
  color: #fff;
  font-weight: 700;
  padding: 6% 0 10% 0;
}

.opening__box em {
  display: block;
  font-weight: bold;
}

.opening__box strong {
  display: block;
  font-weight: bold;
}

@media (max-width: 960px) {
  .opening {
    padding: 50px 0;
  }

  .opening__cont {
    display: none;
  }

  .opening__desc {
    background: none;
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .opening__desc {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  #opening {
    margin: 8px 0;
  }

  .opening__tit {
    width: 197px;
    height: 24px;
    margin-bottom: 10px;
    background-position: 0 -105px;
    background-size: 300px;
  }

  .opening__date {
    display: none;
  }

  .opening__desc {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
  }
}