.recommend {
  padding: 100px 0;
}

.recommend__title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.recommend__inner {
  display: flex;
  flex-wrap: wrap;
}

/* video */
.recommend__video {
  position: relative;
  width: 62%;
  height: 500px;
  margin-right: 2%;
  background: url(../../img/new01.jpeg);
  background-size: cover;
}

.recommend__play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.recommend__play-btn .st0 {
  fill: #fff;
  opacity: 0.3;
}

.recommend__play-btn .st1 {
  fill: #fff;
}

/* info */

.recommend__info {
  width: 36%;
  height: 500px;
  padding: 34px;
  background: #f0f0f0;
}

.recommend__name {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}

.recommend__release {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

/* star-rate */
.star-rate {
  padding: 13px 0;
}

.star-rate .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: -3px;
}

.star-rate .star1 {
  background-position: -393px 0;
}

.star-rate .star2 {
  background-position: -412px 0;
}

.star-rate strong {
  font-size: 18px;
  padding-left: 10px;
}

.recommend__summary {
  font-size: 14px;
}

.recommend__genre {
  padding-bottom: 3px;
}

.recommend__age {
  padding-bottom: 10px;
}

.recommend__desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

/* 셀렉트 메뉴 메인 스타일 */
.ui_select {
  display: inline-block;
  width: 100%;
  height: 36px;
  padding: 0 10px;
  border: none;
  background: #2c2f34 url(../../img/down.svg) no-repeat right 10px center;
  box-sizing: border-box;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  white-space: nowrap;
  background-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* select */
.recommend__select {
  display: flex;
  flex-wrap: wrap;
}
/* 메인 텍스트 박스 스타일1 */
.ui_input {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  border: 0;
  background: #2c2f34;
  color: #fff;
}

.recommend__s1,
.recommend__s2 {
  width: 49%;
}

.recommend__s1 {
  margin-right: 2%;
}

.recommend__s1 ::-webkit-calendar-picker-indicator {
  background-color: #fff;
  border-radius: 2px;
}

.recommend__s3 {
  width: 100%;
  margin-top: 2%;
}

.recommend__btn {
  margin-top: 2%;
  text-align: center;
}

.recommend__btn .white,
.recommend__btn .purple {
  display: block;
  float: left;
  width: 49%;
  padding: 10px 30px 12px 30px;
  box-sizing: border-box;
}

.recommend__btn .white {
  background-color: #fff;
  margin-right: 2%;
  color: #3a0e6a;
  border: 1px solid #3a0e6a;
}

.recommend__btn .purple {
  background-color: #3a0e6a;
  color: #fff;
  border: 1px solid #6e40c4;
}

@media (max-width: 960px) {
  .recommend__video {
    width: 100%;
    margin-right: 0;
    height: 400px;
  }

  .recommend__info {
    width: 100%;
    height: auto;
  }

  .recommend__desc {
    -webkit-line-clamp: 4;
  }
}

@media (max-width: 768px) {
  .recommend {
    margin: 24px;
    padding: 24px 0;
    background-color: #fff;
  }

  .recommend__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .recommend__info {
    padding: 24px;
  }
}

@media (max-width: 600px) {
  .recommend__title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .recommend__video {
    height: 300px;
  }

  .recommend__info {
    padding: 17px;
  }

  .recommend__name {
    font-size: 22px;
  }

  .star-rate {
    padding: 6px 0;
  }

  .recommend__name__s1 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }

  .recommend__name__s2 {
    width: 100%;
  }
}